salesforce_bulk==2.0.0
selenium==3.6.0
tqdm==4.19.5
numpy==1.14.0
pandas==0.22.0
requests==2.18.4
salesforce_bulkipy==1.0
us==1.0.0
chromedriver==2.24.1
SQLAlchemy==1.1.13
pip==9.0.1
uszipcode==0.1.3
lxml==3.8.0
simple_salesforce==0.73.0
beautifulsoup4==4.6.0
python_dateutil==2.6.1
scikit_learn==0.19.1
